<!-- 
<div class="image-container">

    <img src="https://as2.ftcdn.net/jpg/02/18/05/99/500_F_218059974_ReDKNKHfMDKFBp0s7o3RJGjev603mcR3.jpg" class="img-fluid" alt="Responsive image">
    
</div>
<button style="text-align: center;" class="btn-primary"><a routerLink="/" style="color: #ffffff; text-decoration: none;">SHOP NOW</a></button> -->

<!-- pre-header -->
<!-- pre-header end -->
<!-- header -->

<!-- big image section -->
<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="bg_color">

    <tr>
        <td align="center">
            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
                <tr>

                    <td align="center" class="section-img">
                        <a routerLink="" style=" border-style: none !important; display: block; border: 0 !important;"><img
                                src="https://as2.ftcdn.net/jpg/02/18/05/99/500_F_218059974_ReDKNKHfMDKFBp0s7o3RJGjev603mcR3.jpg" style="display: block; width: 590px;"
                                width="590" border="0" alt="" /></a>

                    </td>
                </tr>
                <tr>
                    <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                </tr>
                
                <tr>
                    <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                </tr>

                <tr>
                    <td align="center">
                        <table border="0" width="40" align="center" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
                            <tr>
                                <td height="2" style="font-size: 2px; line-height: 2px;">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                </tr>

                <tr>
                    <td align="center">
                        <table border="0" width="400" align="center" cellpadding="0" cellspacing="0"
                            class="container590">
                            <tr>
                                <td align="center"
                                    style="color: #888888; font-size: 16px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 24px;">


                                    <div style="line-height: 24px">

                                        Your wish list is empty
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                </tr>

                <tr>
                    <td align="center">
                        <table border="0" align="center" width="160" cellpadding="0" cellspacing="0" bgcolor="5caad2"
                            >

                            <tr>
                                <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                            </tr>

                            <tr>
                                <td align="center"
                                    style="color: #ffffff; font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 26px;">


                                    <div style="line-height: 26px;">
                                        <a routerLink="/" style="color: #ffffff; text-decoration: none;">SHOP NOW</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- end section -->